* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: rgb(12, 11, 11);
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
  background-color: #fefefe;
}

.budget__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

h1, h2, p, label, button, input {
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem;
}


p {
  font-size: 15px;
}

body{
  margin: 0 auto;
  min-width: 360px;
  max-width: 500px;
  margin-top: 2rem;
}

.budget__value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.transactionConcept article {
  border: solid 1px lightgray;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 360px;
  max-width: 500px;
  margin-top: 2rem;
}
.styleInEx {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
text-align: center;
padding: 1rem;
border: solid 1px lightgrey;
margin: 0 3rem;
box-shadow: 0px 0px 3px 1px lightgray;
}
.button {
  background-color: white; 
  border: none;
  color: rgb(2, 0, 0);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  
}
.button1 {
  background-color: white; 
  color: black; 
  border: 3px solid #99a9e9;
}
.incomesExpense {
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}